<h3>Les commerces du réseau <strong> Nice is Nice!</strong></h3>
<p><strong>Découvrez où vous pouvez récolter du cashback</strong></p>

<% @shops.each do |shop| %>
  <% @shop = shop%>
  <div class="container">
    <div class="card-product">
      <div class="card-product-top">
        <div class="card-product-top-image">
          <%# cl_image_tag(@shop.photos.second.key, :size => '150x150', :crop => :fill) %>           
          <i class="fas fa-heart position-icon"></i>
        </div>
        <div class="card-product-info" style="text-align:center;">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          
          <p><strong><%= link_to shop.name, shop_path(shop)%></strong></p>
          <p><%=shop.address%></p>
          <span data-controller="hello" data-action="click->hello#openNativeMap" class="btn-solid yaller"> Y aller </span>
        </div>
      </div>

      <div class="card-product-bottom">
        <%= cl_image_tag(@shop.photos.first.key, :size => '290x100',:crop => :fill) %>        
      </div>
    </div>
  </div> 
<% end %>

