<h2>Les commerces du réseau <strong> Nice is Nice!</strong></h2>
<p>Découvrez où vous pouvez récolter du cashback</p>



<% @shops.each do |shop| %>

  <div class="container">
    <div class="card-product">
      <div class="card-product-top">
        <div class="card-product-top-image" style="background-image: url('<%=cloudinary_url(shop.photo)%>')">
            <i class="fas fa-heart position-icon"></i>
        </div>
        <div class="card-product-info">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p><strong> <%= shop.name %> </strong></p>
          <p><%=shop.address%></p>
          <a href="" class="btn-green"> Y aller </a>
        </div>
      </div>

      <img class="card-product-middle" src="https://source.unsplash.com/random" alt="">
    </div>
  </div> 
<% end %>


