<h3>Les commerces du réseau <strong> Nice is Nice!</strong></h3>
<p><strong>Découvrez où vous pouvez récolter du cashback</strong></p>

<% @shops.each do |shop| %>

  <div class="container">
    <div class="card-product">
      <div class="card-product-top">
        <div class="card-product-top-image">
            
            <i class="fas fa-heart position-icon"></i>
        </div>
        <div class="card-product-info">
          <div>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p><strong> <%= shop.name %> </strong></p>
          <p><%=shop.address%></p>
          <span data-controller="hello" data-action="click->hello#openNativeMap" class="btn-solid"> Y aller </span>
        </div>
      </div>

      <img class="card-product-middle" src="https://source.unsplash.com/random" alt="">
    </div>
  </div> 
<% end %>


