<h1>Toutes les informations de votre commerçant niçois préféré ici</h1>

<div class="container" style="text-align:center;">
  <h2><%= @shop.name %></h2>
  <p><%= @shop.address %></p>



  <span data-controller="visite-map" data-action="click->visite-map#openNativeMap" data-visite-map-longitude-value="<%= @shop.longitude %>" data-visite-map-latitude-value="<%= @shop.latitude %>" class="btn-solid myrendre"> Afficher l'itinéraire </span>

</div>