.explications {
  color:#214A7B;
  text-align: center;
  width: 70%;
  margin: 25px auto;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.05em;
}
.code {
  color:#214A7B;
  text-align: center;
  width: 70%;
  border: 1px solid #214A7B;
  border-radius: 8px;
  margin: 25px auto;
  box-shadow: 2px 2px 4px #214A7B;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2em;
  margin-top: 2px;
}

.prix {
  color:#214A7B;
  text-align: center;
  width: 70%;
  margin: 25px auto;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2em;
}

.date_time {
  color:#214A7B;
  text-align: center;
  width: 70%;
  margin: 25px auto;
  font-family: "Gill Sans", sans-serif;
  font-size: 0.5em;
}

p{
  margin-top: 1rem;
}
