<h1>Utiliser mon cashback & génération du coupon</h1>
<div class="explications"><p>J'utilise mon cashback pour l'achat d'un évènement culturel proposé par la ville de NICE</p></div>

<div class="generate_coupon"><h3>Mes coupons evenement culturel</h3></div>
  <% @coupons.each do |coupon|%>
  <div class="code"><h4>Code : <%= coupon.code%></h4>
    <div class="price"><h5><%= coupon.price%>€</h5></div>
      <div class="date_time"><h6>Le <%= coupon.created_at.strftime('%d/%m/%Y à %H:%M')%></h6></div>
        <a href= "https://www.google.com/search?q=google&sxsrf=AOaemvJ3I8WunlxuozY4RQWTtpTOTVS2Ew%3A1630421599720&ei=X0IuYYSqK-SZlwTh0Y34BA&oq=google&gs_lcp=Cgdnd3Mtd2l6EAMyBwgjECcQnQIyBAgjECcyBAgjECcyCggAELEDEIMBEEMyBAgAEEMyBAgAEEMyBAgAEEMyCAgAEIAEELEDMgUIABCABDIFCAAQgAQ6BwgAEEcQsAM6BwgAELADEEM6EAguELEDEIMBEMcBENEDEEM6CwgAEIAEELEDEIMBOgcIABCxAxBDSgQIQRgAUImStQFYqJa1AWCYl7UBaAFwAngAgAHlAYgBpgWSAQUwLjQuMZgBAKABAcgBCsABAQ&sclient=gws-wiz&ved=0ahUKEwjE1aPiwdvyAhXkzIUKHeFoA08Q4dUDCA4&uact=5" >La liste des events</a>
  </div>
<% end %>
</div>
