<h1>Utiliser mon cashback & génération du coupon</h1>
<div class="explications"><p>J'utilise mon cashback pour l'achat d'un évènement culturel proposé par la ville de NICE</p></div>

<div class="generate_coupon"><h1>Mes coupons evenement culturel</h1></div>
  <div class="code"><p>Code : NIN AKLMDF</p>
    <div class="prix"><p>15€</p></div>
      <div class="date_time"><p>le 31/08/2021 12:20</p></div>
  </div>
</div>

<div class="code"><p>Code : NIN AKLMDF</p>
  <div class="prix"><p>15€</p></div>
    <div class="date_time"><p>le 31/08/2021 12:20</p></div>
  </div>
</div>
