<div class="coupon-index">
<h2>Comment profiter de mon cashback? </h2>
  <div class="explications">
    <p>Le cashback cumulé grâce à l'application Nice is Nice permet de générer des coupons de réductions.</p> 
    <p>Ces coupons sont utilisables pour l'achat de billets d'entrées à des évènements, expositions ou manifestations organisés par la ville de Nice.</p> 
    <a class="btn btn-solid myrendre" href= "https://www.nicetourisme.com/agenda">Je découvre les évènements de la ville </a>
  </div>
  
  <div class="generate_coupon"><h1>Mes coupons de réduction générés</h1></div>
    <% @coupons.each do |coupon|%>
    <div class="code"><h4>Code : <%= coupon.code%></h4>
      <div class="price"><h5><%= coupon.price%>€</h5></div>
        <div class="date_time"><h6>Le <%= coupon.created_at.strftime('%d/%m/%Y à %H:%M')%></h6></div>  
    </div>
  <% end %>
  </div>
</div>
