<div class="searchbar">
      <input type="text" class="searchTerm" placeholder="Rechercher">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
