<h1>Mes Cashbacks</h1>
<p>Voici la liste de vos cashbacks</p>

<ul>
  <% @cashbacks.each do |cashback| %>
    <li><%= cashback.created_at %>
     <%= cashback.shop.name %> <%= cashback.shop.address %></li>
  <% end %>
</ul>