  <h2 class="erreur">Une erreur est survenu</h2>
  <div class = "scan-ticket">
    <%= simple_form_for @new_cashback, html: {data: {controller: "ticket-submit"}} do |f|%>
      <%= f.label :ticket, "Réessayer", class: "btn btn-gradient" %>
      <%= f.file_field :ticket, accept: "image/*", capture: "environment", data: {action: "change->ticket-submit#submit"}, class: "d-none" %>
    <% end %>
  </div>
 