<h1>Home</h1>
<p>Find me in app/views/dashboards/home.html.erb</p>
<p>Ceci est la couleur des titres en dark blue cf figma</p>

<%= link_to "dashboard/show user detailed view", dashboard_path(current_user) %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>



<div>
<div class="banner" style="background-image: ;">
  <div class="container">
    <h1>Nice is Nice! <strong>l'application niçoise qui te permet de générer du cashback</strong> lorsque tu dépenses auprès des commerces locaux</h1>
    <p>Convertis ton cashback en billet d'entrée aux évènements de ton choix!</p>
    <a class="btn btn-flat" href="#">En savoir plus</a>
  </div>
</div>



