<div class="banner">
  <div class="container">
    <h1>Nice is Nice! </h1>
    <h2>L'application niçoise qui te permet de générer du cashback lorsque tu dépenses auprès des <strong> commerces locaux </strong></h2>
    <p>Convertis ensuite ton cashback en billet d'entrée aux évènements de ton choix!</p>
  </div>
  <div class="scanticket">
    <a class="btn btn-gradient" href= "/cashbacks/new" >Scanner un ticket</a>
  </div>
</div>

<div class="cards">
  <p>Top 3 shops</p>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <%=image_tag('shoptest1.jpg')%><%# Shop.photo to implement %>
    <span class="shop-title">Le primeur du coin</span> <%# Shop.name to implement %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <%=image_tag('shoptest2.jpg')%><%# Shop.photo to implement %>
    <span class="shop-title">Boutique prêt à porter Josette</span> <%# Shop.name to implement %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <%=image_tag('shoptest3.jpg')%> <%# Shop.photo to implement %>
    <span class="shop-title">Traiteur Nice Garibaldi</span> <%# Shop.name to implement %>
  </div>

  <div class="shopsbutton">
    <a class="btn btn-gradient" href="#">See shops around me</a>
  </div>
</div>
