<%# Now let's assume you have an Offer model and you want dynamic titles and descriptions for any products#show page. %>
<%# <% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @offer.description %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>
<div class="banner">
  <div class="container">
    <h1>Nice is Nice! </h1>
    <h2>Le cashback citoyen <strong>qui te fait sortir</strong></h2>
  </div>

    <div class="container">
      <h3>Comment l'application fonctionne-t-elle?</h3> 
      <p>1. Scan ton ticket de caisse après achat au sein des commerces locaux niçois</p> 
      <p>2. Convertis ton cashback en coupon de réduction</p>
      <p>3. Utilise ton coupon de réduction lors de l'achat d'un billet d'entrée aux évènements niçois </p>
    </div>

  <div class = "scanticket">
    <%= simple_form_for @new_cashback, html: {data: {controller: "ticket-submit"}} do |f|%>
      <%= f.label :ticket, "Scanner un ticket", class: "btn btn-gradient" %>
      <%= f.file_field :ticket, accept: "image/*", capture: "environment", data: {action: "change->ticket-submit#submit"}, class: "d-none" %>
    <% end %>
  </div>
</div>

<div class="cards">
    <h3>Top 3 shops<h3>

  

  <div class="shopsaround">
    <a class="btn btn-solid myrendre" href= "/shops/show" >Découvrir les commerces du réseau</a>
  </div>

</div>
