<h1>Home</h1>
<p>Find me in app/views/dashboards/home.html.erb</p>
<p>Ceci est la couleur des titres en dark blue cf figma</p>




<div>
<div class="banner" style="background-image: url(https://res.cloudinary.com/dcmbxjvgh/image/asset/v1629814387/Photo%20Banniere%202%20Bleue-d67afbab665af64722ccdd7baadd688a.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<%= cl_image_tag("sample") %>