<h1>Dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>


<p> <%= @cashback.amount %> </p>


<p> <%= @cashback.shop.name %> </p>
<p> <%= @cashback.shop.address %> </p>




<p> <%= @sum_cashback %> </p>
