<div class="background txt-white-center">

<div class="container_informations">
  <div class="cashback_immediat"><h1>Cashback immediat</h1>
      <div class="now_amount"></div>
        <p id="amount"><%= @cashback.amount %> €</p>
        <h2><strong> <%= @cashback.shop.name %> </strong> </h2>
        <p> <%= @cashback.shop.address %> </p>
      </div>
  <div class="cashback_total"><h1>Cashback total</h1>
      <div class="total_amount"></div>
        <p id="total"><%= @sum_cashback %> €</p>
      </div>
  </div>
</div>
