<div class="background txt-white-center">

<p> <%=link_to "listtickets", cashbacks_path %>

<div class="container_informations">
  <div class="cashback_immediat"><h1>Cashback immediat</h1>
      <div class="now_amount"></div>
        <p id="amount"><%= @cashback.nil? ? "0" : @cashback.amount %> €</p>
        <a href="https://www.google.com"><strong><%= @cashback.nil? ? " " : @cashback.shop.name %></strong></a>
      </div>

      <div class="cashback_total"><h1>Cashback total</h1>
        <div class="total_amount"></div>
        <p id="total"><%= @sum_cashback %> €</p>
      </div>
      <div class="scanticket">
        <a class="btn btn-gradient" href= "/cashbacks/new" >Scanner un ticket</a>
      </div>
        <a href= "/coupons" >Utiliser mon cashback/générer un coupon</a>
      </div>
  </div>
</div>
