<h1>Dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>

<%  @sum_cashback = 0
    @cks = Cashback.where(user_id: current_user.id) %>
<p> <% Cashback.where(user_id: current_user.id).each { |cb| @sum_cashback += cb.amount } %> </p>
<p> <%= current_user.id %> </p>
<p> <%= @sum_cashback %> </p>

<p> <%= @cks %> </p>