.scanticket .btn{
  box-shadow: 5px 3px 3px $shdbutton;
}

.shopsaround .btn{
  box-shadow: 5px 3px 3px $shdbutton;
}

.btn-gradient {
  background-color: #214A7B;
  color: #ffffff;
  padding: 25px 20px;
  border-radius: 15px;
  text-align: center;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #214A7B;
}

.btn-gradient:hover {
  background: #214A7B;
  color: white;
}

.myrendre {
  background-color: #214A7B;
  color: #ffffff;
  margin-bottom: 5px;
  border-radius: 13px;
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #214A7B;
}

.btn-fix {
  background-color: #FF6978;
  color: #214A7B;
  border-radius: 13px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: 15px;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #FF6978;
}