.cards {
  text-align: center;
  font-size: 22px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-gap: 5px;  
  grid-template-columns: 1fr;
}

.card-category  {
  position: relative;
  background-position: center;
  color: white;
  text-align: center;
  height: 200px;
  background: rgba(0,0,0,1);
  img {
    opacity: 65%;
    
  }
}

.container {
padding: 8px;

}
