.navbar-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cards {
  margin: 16px;
  border-radius: 10px;
  display: grid;
  grid-gap: 5px;  
  grid-template-columns: 1fr;
}

.card-category {
  position: relative;
  background-image: cover linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-position: center;
  color: white;
  
  text-align: center;
  height: 200px;
}

.card-category .shop-title {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  font-size:25px;
  font-weight: bold;
}

.card-category img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
