.navbar-links {
  justify-content: space-around;
  object-position: center;
  background: #FF6978;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  padding: 8px 0 16px 0;

  label {
    padding: 0;
    margin: 0;
  }
}

.nav-link {
  color: #214A7B;
  justify-content: center;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

