.navbar-links {
  justify-content: space-around;
  background: #FF6978;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.nav-link {
  color: #214A7B;
  justify-content: center;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

