body {
  color: black;
}

.navbar-links {
  justify-content: space-between;
  background: #FF6978;
  margin: 3px;
  border-radius: 15px;
  width: 370px;
  height: 65px;
  background-color: 214A7B; 
  box-shadow: 0 3px 3px rgba(9, 46, 128, 0.623);
}
