erreur{
  color: rgb(196, 32, 32);
  position: absolute;
  // transform: translate(-50%,-50%);
  // left: 50%;
  justify-self: center;
  top: 25%;
  font-size:25px;
  font-weight: bold;
}

.scan-ticket{
  // position: absolute;
  // display: flex !important;
  // justify-content: center !important;
  // align-items: center !important;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  font-size:25px;
  font-weight: bold;
}

