// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "dashboards/index";
@import "devise/index";

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto;
}

main {
  overflow-y: auto;
}

.background {
  background-image: linear-gradient(to bottom, #5090f0, #78a8f3, #9dc0f5, #c2d7f5, #e8eef6);
}

.txt-white-center {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  height: 100%;
}
