// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "dashboards/index";
@import "devise/index";
@import "coupons/index";
@import "cashbacks/index";


body {
  background: linear-gradient(to bottom, #5090F0, #78A8F3, #9DC0F5, #C2D7F5, #E8EEF6);
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr auto;
  // background-image: linear-gradient(to bottom, #5090f0, #78a8f3, #9dc0f5, #c2d7f5, #e8eef6);
}

main {
  overflow-y: auto;
}

.background {
  padding-left: 4px;
  padding-right: 4px;
}

.txt-white-center {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  // width: 100vw;
  height: 92vh;
}

h1 {
  padding: 10px;
  font-weight: bold;
  color: #09203be0;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

h2 {
  margin: 5px;
  padding: 25px;
  font-weight: bold;
  color: #FF6978;
  text-align: center;
  font-size: 18px;
  border-radius: 80px;
  text-align: center;
  object-position: center;
  transition: background 0.3s ease;
  border: 3px solid #214A7B;
  width: 85wh;
}

h3 {
  margin: 5px;
  padding: 35px;
  font-weight: bold;
  color: #09203be0;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);margin: 0;
}

p {
  margin: 0;
  padding: 8px;
  color: #09203be0;
  text-align: center;
  font-size: 15px;
}


a {
  margin: 0;
  color: #214A7B;
  text-align: left;
  font-size: 15px;
  object-position: center;
}

.nav-item .fa-plus-circle {
  font-size: 35px;
  color:#214A7B;
}
.nav-item .fa-store {
   font-size: 35px;
   color:#214A7B;
}
 .nav-item .fa-calendar-alt {
   font-size: 35px;
   color:#214A7B;
 }
.nav-item .fa-euro-sign {
  font-size: 35px;
  color:#214A7B;
 }
 .nav-item .fa-home {
  font-size: 35px;
  color:#214A7B;
 }
