// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding:15px 0;
}

.banner h1 {
  margin: 0;
  padding: 5px;
  color: #FF6978;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  padding: 17px;
  font-weight: bold;
  color: #09203be0;
  text-align: center;
  font-size: 19px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.banner p {
  font-size: 15px;
  padding: 5px;
  color: #fbfcfde7;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.banner .scanticket {
  text-align: center;
}

.shopsbutton .btn-gradient {
  background-color: #214A7B;
  color: #ffffff;
  padding: 35px 44px;
  border-radius: 25px;
  text-align: justify;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #214A7B;
}
