.cashback_immediat {
  color:#214A7B;
  text-align: center;
  width: 70%;
  border-radius: 30px;
  border: 1px solid #214A7B;
  border-radius: 30px;
  margin: 25px auto;
}

#amount {
  color: #FF6978;
  font-weight: bolder;
  font-size: 36px;
}
.cashback_total {
  color:#214A7B;
  text-align: center;
  width: 70%;
  border-radius: 30px;
  border: 1px solid #214A7B;
  border-radius: 30px;
  margin: 25px auto;
}

#total {
  color: #FF6978;
  font-weight: bolder;
  font-size: 24px;
}

.scanticket .btn-gradient {
  background-color: #214A7B;
  color: #ffffff;
  padding: 35px 44px;
  border-radius: 25px;
  text-align: justify;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #214A7B;
}
