.cashback_immediat {
  color:#214A7B;
  background-color: rgba(245, 245, 245, 0.541);
  width: 80%;
  border-radius: 30px;
  border: 3px solid #214A7B;
  box-shadow: 10px 10px 2px 1px $shdbuttonthird;
  border-radius: 30px;
  margin: 25px auto;

  div {
    text-align: left;
  }
}

#amount {
  color: #FF6978;
  font-weight: bolder;
  font-size: 36px;
}
.cashback_total {
  color:#214A7B;
  text-align: center;
  width: 80%;
  box-shadow: 10px 10px 2px 1px $shdbuttonthird;
  background-color: rgba(245, 245, 245, 0.541);
  border-radius: 30px;
  border: 3px solid #214A7B;
  border-radius: 30px;
  margin: 25px auto;
}

.cashback_details {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
  gap: 0.25rem 1rem;
  margin: 1.3rem;
  object-position: center;

  i {
    justify-self: end;
  }
}

#total {
  color: #FF6978;
  font-weight: bolder;
  font-size: 24px;
}

.scanticket .btn-gradient {
  background-color: #214A7B;
  color: #ffffff;
  padding: 35px 44px;
  border-radius: 25px;
  text-align: justify;
  object-position: center;
  transition: background 0.3s ease;
  border: 1px solid #214A7B;
}
